# Google Cloud Configuration
# Lấy file JSON service account từ Google Cloud Console -> IAM -> Service Accounts
# Sau đó copy giá trị vào đây.
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Google Cloud Vision API Key (Enable Cloud Vision API trước khi lấy key)
GOOGLE_VISION_API_KEY=

# Google Sheets & Drive IDs (Từ URL của file/thư mục)
SHEET_ID=18AE2uGRNiMLFkhm-MXNFo4nv6thXD7HSLAGW7ay2XFA
FOLDER_GPKD_ID=1UF2tMEB0v2BjVYyKxFeGIGXrnAOizLbJ
FOLDER_CCCD_ID=1uJZFafbPZ_WFOF-Dplykp9f9jCWlf0YD
